.view-pledge-btn {
    background-image: linear-gradient(to right, rgb(255, 209, 220), rgb(247, 195, 210));
    border: 1px solid gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 12px;
    text-align: center;
}