.ad-container {
    margin-top: 3.7vh;
    height: 91.3vh;
    text-align: center;
    overflow-y: scroll;
}

.reap-project-button {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 400;
    background-image: linear-gradient(to right, rgb(255, 209, 220), rgb(247, 195, 210));
    border: .6666px solid black;
    border-radius: 3px;
    letter-spacing: 0.15px;
    width: 40px;
    font-size: 14px !important;
    margin: 5px;
    width: 200px;
    height: 35px;
    padding: .5em .5em .5em .5em;
    bottom: 100%;
}

.delete-btn {
    background-image: linear-gradient(to right, rgb(255, 209, 220), rgb(247, 195, 210));
    border: 1px solid gray;
    color: white;
    padding: 4px 0px;
    margin: 8px 0;
    cursor: pointer;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 12px;
    text-align: center;
}

.delete-btn:hover {
    background-image: linear-gradient(to right, rgb(253, 195, 209), rgb(251, 190, 208));
}